/* Affects all pages */
#mainSpacing{
  height: 40%;
}

@media only screen and (max-width: 600px) {
  #mainSpacing{
    height: 60px;
  }
}

#footerSpacing {
  height: 150px;
}

.page-footer, #pageHeader {
  position: fixed;
  z-index: 5;
  right: 0;
  left: 0;
}

.page-footer {
  bottom: 0;
}

#pageHeader {
  top: 0;
}


html,
body {
  height: 100%;
  margin: 0;
}

body {
    font-family: 'Cantarell', sans-serif;
  }

.nav-wrapper {
  font-family: 'Pacifico', cursive;
}

a #submit-button {
  width: 175px;
}

.btn-small {
  margin: 0 10px 10px 10px;
}

foter {
  margin-top: 50px;
}

footer a {
  color: white;
}


/* Affects main index page */

input {
  font-weight:900;
  text-shadow: 0px 0px 3px #000;
  color: white;
  background-color: black;
  opacity: 1;
}

.input-field input[type=text] {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}

.input-field input[type=text]:hover {
  border-bottom: 1px solid red ;
  box-shadow: 0 1px 0 0 red;
}

#distance[type=text]:enabled {
  border-bottom: 1px solid white ;
  box-shadow: 0 1px 0 0 white;
}

#cuisine[type=text]:enabled {
  border-bottom: 1px solid white ;
  box-shadow: 0 1px 0 0 white;
}

#distance[type=text]:hover {
  border-bottom: 1px solid red ;
  box-shadow: 0 1px 0 0 red;
}

#cuisine[type=text]:hover {
  border-bottom: 1px solid red ;
  box-shadow: 0 1px 0 0 red;
}


ul.dropdown-content.select-dropdown li span {
  color: black; 
}

option {
  color: red;
}


#cuisine-label {
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-shadow: 20;
}

#rating-label {
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-shadow: 20;
}

#cost-label {
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-shadow: 20;
}

#distance-label {
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-shadow: 20;
}

#restaurant-details {
  padding-top: 80px;
}

#result-name {
  margin-top: 0;
}

.restaurantImage {
  width: 100%;
}

#restaurantImg {
  padding: 20px 20px 45px 20px;
}

.card .card-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.panel {

  color: white;
  height: 100%;
  min-width: 100%;
  text-align: center;
  display: table;
  margin: 0;
  padding: 0 0;
}

.panel .inner {
  display: table-cell;
  vertical-align: middle;
}

.backgroundimg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
}



#back1 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("https://wallpapertag.com/wallpaper/middle/b/b/e/376552-food-wallpaper-2560x1600-for-iphone-5s.jpg#.W23e0P2A4x8.link") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
}

#back2 {
  background:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("https://cdn1.vox-cdn.com/uploads/chorus_asset/file/9250011/Arroz_negro_con_Carabineros_Calamares_y_sepia.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
}

#back3 {
  background:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("https://cdn.vox-cdn.com/thumbor/KWS-fRJXRM0bf5Rsgir3xn3m3vA=/1600x0/filters:no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/9250017/Tuetano_con_Carrileras.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
}

#back4 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),url("http://monishchandan.com/wp-content/uploads/2016/03/high-resolution-food-1920x1200-wallpaper337475.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
}

#back5 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),url("https://cdn.vox-cdn.com/thumbor/N06d17R9uialSYq2sxaLPFftGTk=/1600x0/filters:no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/9250005/Gambas_de_ajillio.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
}

@keyframes backgroundchangeFadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes backgroundchangeFadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#backgroundchange div:nth-of-type(1) {
  animation-delay: 20s;
  -webkit-animation-delay: 20s;
}

#backgroundchange div:nth-of-type(2) {
  animation-delay: 15s;
  -webkit-animation-delay: 15s;
}

#backgroundchange div:nth-of-type(3) {
  animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

#backgroundchange div:nth-of-type(4) {
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
}

#backgroundchange div:nth-of-type(5) {
  animation-delay: 0;
  -webkit-animation-delay: 0;
}

#backgroundchange div {
  animation-name: backgroundchangeFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  -webkit-animation-name: backgroundchangeFadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 20s;
}

#modal-trigger {
  display: none;
}


/* Affects "About Us" page */

#header-footer-spacer {
  height: 75px;
}

.bio {
    width: 250px;
    margin-bottom: 30px;
}

.bio h5 {
  position: relative;
  display: block;
  bottom: 20px;
  width: 250px;
  padding: 15px;
  margin: 0 auto;
  font-weight: 300;
  line-height: 15px;
  color: #fff;
  text-align: center;
  background: #F44336;
  border-bottom: 0;
}

.bio-img-wrapper {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto;
  overflow-y: hidden;
}

#biosContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* For loading screen */
.fuzzy-background {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

#map-wrapper {
  height: 450px;
  margin: 0;
  padding: 0;
}

#google-map {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */


  #map-wrapper {
    width: 100%;
  }
}
